In [5]:
import pandas as pd
import codecs

In [7]:
# doc = codecs.open('parseresulttest.txt','r','UTF-8')
data = pd.read_csv('NewReportFriday.txt', sep='\t', header=None,encoding='ISO-8859â€“1') 
data.head()

        0    1    2  3       4               5
0  docm23  122  136 -1  ID 0 6  March 18, 2019
1  docm23  782  786 -1  ID 0 6            1994
2  docm23  791  795 -1  ID 0 6            1999
3  docm23  827  840 -1  ID 0 6   1988 and 1992
4  docm23  623  631  1  ID 0 6         10-year

In [8]:
# export_csv = data.to_csv (r'export_dataframe1.csv', index = None, header=True) #Don't forget to add '.csv' at the end of the path

data_df=data.rename(columns={0:"DOC_ID",1: "span1", 2: "span2", 3: "Flag",4: "ID", 5: "Date"})
data_df.columns

Index(['DOC_ID', 'span1', 'span2', 'Flag', 'ID', 'Date'], dtype='object')

In [9]:
data_summarized=data_df[["DOC_ID","Date","Flag","span1","span2"]]
data_summarized.head()

   DOC_ID            Date  Flag  span1  span2
0  docm23  March 18, 2019    -1    122    136
1  docm23            1994    -1    782    786
2  docm23            1999    -1    791    795
3  docm23   1988 and 1992    -1    827    840
4  docm23         10-year     1    623    631

In [10]:
data_summarized
export_csv = data_summarized.to_csv (r'Final_Cleaned_Dates_DOC.csv', index = None, header=True)